BOT_TOKEN=123456:replace-with-your-token
MONGO_URL=mongodb+srv://user:password@cluster.mongodb.net/text_tool_bot
MONGO_DB_NAME=text_tool_bot
ADMIN_IDS=123456789
OWNER_IDS=123456789
SUPPORT_USERNAME=your_support_username
UPDATE_CHANNEL=your_update_channel
START_PHOTO_URL=
FREE_DAILY_LIMIT=50
PREMIUM_DAILY_LIMIT=500
MAX_TEXT_CHARS=3000
